torch>=1.10.0
transformers==4.5.0
performer-pytorch
tensorboard
accelerate
axial_positional_embedding
memorizing-transformers-pytorch
local-attention
fsspec
wrapt
einops
gast
astunparse
psutil
faiss-gpu
joblib